 @font-face {
    font-family: 'Adobe Garamond Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Adobe Garamond Pro Regular'), url('../fonts/adobe-garamond-pro/AGaramondPro-Bold.woff') format('woff');
}
    
@font-face {
    font-family: 'Adobe Garamond Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Adobe Garamond Pro Italic'), url('../fonts/adobe-garamond-pro/AGaramondPro-Italic.woff') format('woff');
}
    
@font-face {
    font-family: 'Adobe Garamond Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Adobe Garamond Pro Bold'), url('../fonts/adobe-garamond-pro/AGaramondPro-Bold.woff') format('woff');
}
    
@font-face {
    font-family: 'Adobe Garamond Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Adobe Garamond Pro Bold Italic'), url('../fonts/adobe-garamond-pro/AGaramondPro-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Regular'), url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Regular Italic'), url('../fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Semibold'), url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Semibold Italic'), url('../fonts/proxima-nova/ProximaNova-SemiboldIt.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Bold'), url('../fonts/proxima-nova/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova Bold Italic'), url('../fonts/proxima-nova/ProximaNova-BoldIt.woff') format('woff');
}


@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body{
    background-color: hsla(0,0%,100%,1);
}

.header{
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
    font-family: 'ProximaNova Semibold';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    font-size: calc(1.1 * 1rem);
    color: hsla(25.71,8.43%,16.27%,1) !important;
}

.buy-btn{
    padding: .7em 1.7em;
    font-size: calc(.9 * 1rem);
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: normal;
    border-style: solid;
    text-transform: none;
    color: hsla(0,0%,100%,1);
    background-color: hsla(25.71,8.43%,16.27%,1);
    border-color: hsla(0,0%,100%,1);
    border-radius: .4rem;
    text-decoration: none;
    margin: 0 0 0 3vw;
}

.icon{
    width: 25px;
    height: 25px;
    position: relative;
    display: block;
    /* width: 25px;
    height: 25px; */
    box-sizing: content-box;
    line-height: 1;
    color: inherit;
    text-decoration: none;
    background: 0 0;
}

.header .icon:not(:first-child) {
    margin-left: 1.5vw;
}

.header-title-logo img {
    width: auto;
    max-width: 100%;
    max-height: 50px;
}

#footer {
  color: hsla(0,0%,100%,1);
  font-size: 14px;
  background: #2d2926;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background-color: #e1dfd9;
  color: hsla(25.71,8.43%,16.27%,1);
}

#footer .footer-top span{
    font-family: 'Adobe Garamond Pro Regular';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.01em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: calc(1.2 * 1rem);
}

#footer .footer-top .subscribe-btn{
    font-size: calc(1 * 1rem);
    padding: .7em 1.7em;
    font-family: 'ProximaNova Semibold';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    text-transform: uppercase;
    background-color: hsla(25.71,8.43%,16.27%,1);
    color: hsla(0,0%,100%,1);
    text-decoration: none;
    border-radius: .4rem;
}

#footer .footer-top .subscribe-btn:hover{
    opacity: .8;
}

#footer .office,
#footer .office a {
    font-size: calc(1.2 * 1rem);
    line-height: 1.6em;
    margin-bottom: 0;
    font-family: 'Adobe Garamond Pro Regular';
    font-style: normal;
    font-weight: 400;
    color: hsla(0,0%,100%,1);
    line-height: 1.6em;
    letter-spacing: -.01em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: hsla(0,0%,100%,1);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: hsla(0,0%,100%,1);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: hsla(0,0%,100%,1);
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #b6daf2;
}

#footer .footer-newsletter form input[type=text] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3498db;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #57aae1;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: hsla(0,0%,100%,1);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-top-link a{
    color: hsla(0,0%,100%,1);
    text-decoration: inherit;
    font-size: calc(1.1 * 1rem);
    line-height: calc(1.2em * (1 + (1 - 1.1)/25));
    font-family: 'ProximaNova Semibold';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer-top-link span{
    color: hsla(45,11.76%,86.67%,1);
    text-decoration: inherit;
    font-size: calc(1.1 * 1rem);
    line-height: calc(1.2em * (1 + (1 - 1.1)/25));
    font-family: 'ProximaNova Bold';
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.footer-social .form-control,
.footer-social .form-control:focus,
.footer-social .form-control:hover {
    background-color: transparent !important;
    border-color: hsla(0,0%,100%,1) !important;
    box-shadow: none !important;
    border-radius: 0%;
    width: 100%;
    min-height: 20px;
    border: 1px solid #eee;
    background-image: url(https://assets.squarespace.com/universal/images-v6/icons/icon-searchqueries-20-light.png) !important;
    color: #f7f7f7;
    border: 1px solid #eee;
    opacity: .7;
    transition: opacity .2s ease-out;
    transition: background-image .2s ease-out;
    padding: 12px 12px 12px 45px;
    background: no-repeat 15px 50%;
    width: 100%;
    min-height: 20px;
    display: block;
    box-sizing: border-box;
}

.footer-social .form-control:focus{
    opacity: 1;
}

.footer-social .input-group-text {
    color: hsla(0,0%,100%,1) !important;
    background-color: transparent !important;
    border-radius: 0%;
}

/* placeholder color */
.footer-social .form-control::-webkit-input-placeholder {
    color: #f7f7f7 !important;
}